$main_color:rgba(62, 62, 62, 1);
$color_text_desc:rgba(255, 255, 255, 1);
$background_line:rgba(228, 181, 107, 0.8);
$background_desc:rgba(62, 62, 62, 0.9);
$backgroud_slid_item:rgba(255, 255, 255, 1);
$backgroud_slid_item_active:rgba(228, 181, 107, 0.8);