
$main_color:rgba(62, 62, 62, 1);
$color_text_desc:rgba(255, 255, 255, 1);
$background_line:rgba(228, 181, 107, 0.8);
$background_desc:rgba(62, 62, 62, 0.9);
$backgroud_slid_item:rgba(255, 255, 255, 1);
$backgrou_slid_item_active:rgba(228, 181, 107, 0.8);

.container {
    width: 1180px;
    margin: 0 auto;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: 1360px;
  margin: 0 auto;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}